
<style type="text/css">
   a:link {font-family: Verdana; font-size: 10px; color: #000080; text-decoration: none}
   a:vlink {font-family: Verdana; font-size: 10px; color: #000080; text-decoration: none}
   a:alink {font-family: Verdana; font-size: 10px; color: #000080; text-decoration: none}
   a:hover {font-family: Verdana; font-size: 10px; color: #000080; text-decoration: underline}
</style>
