<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ComponentDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ironspeed.com/designer">
  <Generator>Iron Speed Designer</Generator>
  <Version>5.0</Version>
  <Self>
    <Name>Menu</Name>
    <Type>Menu</Type>
    <GenerateDirectory>Menu Panels</GenerateDirectory>
    <Layout>Menu Panels\Menu.html</Layout>
    <DisplayName>Menu</DisplayName>
    <Description>(Description)</Description>
    <CheckSum>-193267378-3306</CheckSum>
  </Self>
  <ComposedOf>
    <ContainedComponent>
      <Name>DC_CommodityMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_Commodity/ShowDC_CommodityTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Commodity</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_CommodityMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_Commodity/ShowDC_CommodityTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Commodity</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_CommoditySizeMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_CommoditySize/ShowDC_CommoditySizeTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Commodity Size</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_CommoditySizeMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_CommoditySize/ShowDC_CommoditySizeTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Commodity Size</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_ConsigneeMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_Consignee/ShowDC_ConsigneeTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Consignee</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_ConsigneeMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_Consignee/ShowDC_ConsigneeTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Consignee</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_CustomerMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_Customer/ShowDC_CustomerTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Customer</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_CustomerMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_Customer/ShowDC_CustomerTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Customer</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_CustomerPriceMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_CustomerPrice/ShowDC_CustomerPriceTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Customer Price</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_CustomerPriceMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_CustomerPrice/ShowDC_CustomerPriceTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Customer Price</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_CustomsBrokerOfficeMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_CustomsBrokerOffice/ShowDC_CustomsBrokerOfficeTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Customs Broker Office</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_CustomsBrokerOfficeMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_CustomsBrokerOffice/ShowDC_CustomsBrokerOfficeTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Customs Broker Office</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_OrderMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_Order/AddDC_OrderPage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Order</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_OrderMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_Order/AddDC_OrderPage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Order</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_TransporterMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_Transporter/ShowDC_TransporterTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Transporter</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_TransporterMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_Transporter/ShowDC_TransporterTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Transporter</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_UserMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_User/ShowDC_UserTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>User</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_UserMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_User/ShowDC_UserTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>User</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_VesselMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_Vessel/ShowDC_VesselTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Vessel</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>DC_VesselMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_Vessel/ShowDC_VesselTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Vessel</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>Menu10MenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>LogOut</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../Security/SignOut.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Sign Out</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>Menu10MenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../Security/SignOut.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Sign Out</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>Menu9MenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../Security/SignIn.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Sign In</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>Menu9MenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../Security/SignIn.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Sign In</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>Order_ListMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_Order/ShowDC_OrderTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Order List</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>Order_ListMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../DC_Order/ShowDC_OrderTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Order List</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
  </ComposedOf>
</ComponentDefinition>